
<section class="slider_wrapper">
  <div id="camera_wrap" class="">
    <div data-src="images/dharamshala.jpg"></div>
    <div data-src="images/slide1.jpg"></div>
    <div data-src="images/slide2.jpg"></div>  
  </div>
</section>
<p class="white">
This dharamsahala's size and location makes it great and awesome dharamshala. This dharamshala are established by soonkar samaj persons.This dharamsahala's size and location makes it great and awesome dharamshala. This dharamshala are established by soonkar samaj persons.This dharamsahala's size and location makes it great and awesome dharamshala. This dharamshala are established by soonkar samaj persons.This dharamsahala's size and location makes it great and awesome dharamshala. This dharamshala are established by soonkar samaj persons.This dharamsahala's size and location makes it great and awesome dharamshala. This dharamshala are established by soonkar samaj persons.This dharamsahala's size and location makes it great and awesome dharamshala. This dharamshala are established by soonkar samaj persons.This dharamsahala's size and location makes it great and awesome dharamshala. This dharamshala are established by soonkar samaj persons.</p>

<p id="notice"><%= notice %></p>

<div class="container_12">
<center>
	<div class="grid_2 demo push_1">
	    
	</div>
	<div class="grid_2 demo push_2">
	    
	</div>
	<div class="grid_2 demo push_3">
	    
	</div>
</center>
</div>


