/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require style.css
 *= require camera.css
 *= require countdown.css
 *= require font-awesome.css
 *= require form.css
 *= require grid.css
 *= require ie.css
 *= require mixins.css
 *= require owl.carousel.css
 *= require stuck.css
 *= require superfish.css
 *= require variables.css
 *= require contact-form.css
 *= require scaffolds.scss
 *= require_self
 */

body{
	background-color: rgb(0,51,51);
}

h1{
	font-size: 30px;
}

.hello{
	padding-left: 20px;
	padding-top: 5px;
	background-color: rgb(0,51,51);
}

.white{
	font-color: white;	
}

.push_left{
	left:270px;
}